body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	/*background: url("../img/plane.png.jsf?ln=template") no-repeat center center fixed;*/
	background-color: #ffcfff;
	background-size: cover;
	margin:0;
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 3em;
	text-align: center;
	font-size: 30px;
	min-width: 700px;
}
/*.webtitle{
	top:50px;
}*/
.responsive-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .responsive-item {
        position: relative;
        overflow: hidden;
        flex: 1 0 calc(50% - 16px);
        max-width: calc(50% - 16px);
        margin-bottom: 16px;
        top: 100px;
    }

    .responsive-image {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }

    .responsive-item:hover .responsive-image {
        transform: scale(1.1);
    }

    .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        text-align: center;
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        border: 6px solid #fff;
        border-radius: 0px;
    }